{% for block in include.blocks %}
	{% case block.item_type %}
		{% when "block_body_text" %}
			<div class="block_body_text">
				{{ block.text | markdownify }}
			</div>
		{% when "block_body_gallery" %}
			<div class="block_body_gallery">
				<ul>
					{% for image in block.images %}
						<li>{% include helpers/img.html src=image.url alt=image.alt format=site.data.image_formats.body_gallery %}</li>
					{% endfor %}
				</ul>
				{% if block.caption != nil %}<p class="caption">{{ block.caption }}</p>{% endif %}
			</div>
	{% endcase %}
{% endfor %}