{% for block in include.blocks %}
	{% case block.item_type %}
		{% when "block_body_lead" %}
			{% include blocks/body/block_body_lead.html paragraphs=block.paragraphs %}
		{% when "block_body_text" %}
			{% include blocks/body/block_body_text.html text=block.text %}
		{% when "block_body_gallery" %}
			<div class="block_body_gallery">
				<ul>
					{% for image in block.images %}
						<li>{% include helpers/img.html src=image.url alt=image.alt format=site.data.images.thumb %}</li>
					{% endfor %}
				</ul>
				{% if block.caption != nil %}<p class="caption">{{ block.caption }}</p>{% endif %}
			</div>
		{% when "block_body_pullquote" %}
			{% include blocks/body/block_body_pullquote.html paragraphs=block.paragraphs cite=block.cite %}
	{% endcase %}
{% endfor %}
