<!DOCTYPE html>
<html class="no-js" lang="en-GB">
	<head>
		<meta charset="utf-8" /><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		{% if page.robots %}<meta name="robots" content="{{ page.robots }}" />{% endif %}
		{% if page.name == 'index.md' %}{% assign home = true %}{% else %}{% assign home = false %}{% endif %}

		{%- if page.collection %}
			{% assign section = site.collections | where:'label',page.collection | first %}
		{% endif %}
		{% assign sep = site.data.settings.seo.separator %}
		{%- capture page_title -%}
			{{ site.data.settings.name | default: site.title }}
			{%- if section %} {{ sep }} {{ section.title }}{%- endif -%}
			{%- if page.seo.title or site.data.settings.seo.title or page.title %} {{ sep }} {% if page.seo.title -%}
					{{ page.seo.title }}
				{%- elsif page.title -%}
					{{ page.title }}
				{%- elsif site.data.settings.seo.title -%}
					{{ site.data.settings.seo.title }}
				{%- endif -%}
			{%- endif -%}
			{%- if site.data.settings.seo.suffix.size > 0 %} {{ sep }} {{ site.data.settings.seo.suffix }}{%- endif -%}
		{%- endcapture -%}
		<title>{{ page_title | escape | replace: '·','&middot;' }}</title>

		{%- capture page_description -%}
			{%- if page.seo.description -%}
				{{ page.seo.description }}
			{%- elsif page.excerpt -%}
				{{ page.excerpt | markdownify | strip_html | truncatewords: 50 }}
			{%- else -%}
				{{ site.data.settings.seo.description | default: site.description }}
			{%- endif -%}
		{%- endcapture -%}
		<meta name="description" content="{{ page_description | escape }}" />

		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" href="/assets/styles/bootstrap.css" />
		<link rel="stylesheet" href="/assets/styles/boilerplate.css" />
		<link rel="stylesheet" href="/assets/styles/core.css" />

		<link href="https://fonts.googleapis.com/css?family=Montserrat:200,600,900|Source+Sans+Pro:300,300i" rel="stylesheet">

		<script src="/assets/scripts/libraries/modernizr-2.8.3.min.js"></script>

		{% if home %}
			<meta name="p:domain_verify" content="d0219ccc18274430b1974dfc6b1b710e" />

		{% endif %}
	</head>
	<body>
		<!--[if lt IE 8]>
            <p class="browserupgrade"><strong>You are using an outdated browser</strong>, so this site may not appear correctly. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

		<header id="top">
			{% if home %}{% assign header_type = 'home' %}{% else %}{% assign header_type = 'inside' %}{% endif %}
			{% include header.html type=header_type %}
		</header>
		<main id="main">
			{{ content }}
		</main>
		<footer id="footer">
			{% include footer.html %}
		</footer>

		{% include snippets/jquery.html %}
		<script src="/assets/scripts/libraries/tilt.jquery.js"></script>
		<!--<script src="/assets/scripts/libraries/textfill.jquery.js"></script>-->
		{% if site.data.videos.method == 'reactive' %}{% include snippets/video-reactive.html %}{% endif %}
		<script type="text/javascript" src="/assets/scripts/libraries/particles.min.js"></script>

		<script type="text/javascript">
			/*$('#hero-text h1').textfill();*/

			$('.tilt').tilt({
				perspective: 1200,
				speed: 500,
				scale: 1.01
			});

			$('.link').each(function() {
				var go = $(this).find('a').attr('href');
				if (go == undefined) {
					$(this).toggleClass("link");
				} else {
					$(this).click(function() {
						window.location = go;
						return false;
					});
				};
			});

			$(".link").hover(function() {
				$(this).find('a').toggleClass("hover");
			});

			/* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
			particlesJS.load('particles-js', 'assets/scripts/libraries/particlesjs-config.json', function() {
			  console.log('callback - particles.js config loaded');
			});
		</script>

		{% include snippets/analytics.html %}
	</body>
</html>
