---
layout: base
---

<section>
	<div class="container">
		<h1>Contact</h1>
		{% include blocks/body/block_body_lead.html paragraphs=page.content %}
	</div>
</section>

<section>
	<div class="container">
		<h2 class="hide">Contact Methods</h2>
		<div class="row">
			{% for option in page.options %}
				<div class="col-lg-6 {% if forloop.length == 1%}col-lg-offset-3 col-sm-8 col-sm-offset-2{% else %}col-md-6{% endif %}">
					<div class="card grid">
						<h3 class="hgroup">
							<span class="subtitle">{{ option.name }}<span class="hide">:</span></span>
							<span class="h3">
								{% case option.name %}
									{% when 'Phone' %}
										<a href="tel:{{ option.details }}">{{ option.details }}</a>
									{% when 'Email' %}
										<a class="email" href="mailto:{{ option.details }}"><span>{{ option.details | replace: '@', '@</span><span>' | replace: '.', '</span><span>.'}}</span></a>
									{% else %}
										{{ option.details }}
								{% endcase %}
							</span>
						</h3>
						{% if option.explanation %}
							<div class="small">
								{{ option.explanation | markdownify }}
							</div>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
		{% if page.form_id.size > 0 %}
		<div class="row js-show">
			<div class="col-md-8 col-md-offset-2">
				<div class="card">
					<noscript>
						<p>To prevent spam, JavaScript is required to submit this form.</p>
					</noscript>
					<form id="form-1" action="https://submit-form.com/{{ page.form_id }}" method="POST" target="_self" class="form form-ajax">
						<!--<input type="hidden" name="_redirect" value="{{ site.url }}{{ page.url }}" />-->
						<input type="checkbox" name="_honeypot" style="display: none" tabindex="-1" autocomplete="off" />
						<label for="form-1-field-name">Name</label>
						<input type="text" name="form-1-field-name" id="form-1-field-name" placeholder="e.g. Jane Smith" required="required" minlength="3" />
						<label for="form-1-field-email">Email</label>
						<input type="email" name="form-1-field-email" id="form-1-field-email" placeholder="e.g. jane@organisation.com" required="required" minlength="5" />
						<label for="form-1-field-message">Message</label>
						<textarea name="form-1-field-message" id="form-1-field-message" placeholder="How can we help?" required="required" autocomplete="off" minlength="20" rows="5"></textarea>
						<button type="submit" id="form-1-submit" class="form-submit">Send</button>
						<p class="form-info">Fill out the form to send us an email.</p>
						<div class="captcha">
							<div class="g-recaptcha">
								Loading reCAPTCHA...
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		{% endif %}
		<div class="row">
			<div class="col-xs-12">
				<div class="card">
					<div class="row">
						<div class="col-sm-4">
							<h3>Address</h3>
							<address>
								<strong>Convincible</strong> Media<br />
								68 Sleaford Street<br />
								Cambridge<br />
								CB1 2PU<br />
								United Kingdom
							</address>
						</div>
						<div class="col-sm-8">
							<div class="card-image card-image-right">
								{% include helpers/map.html place='Convincible' x='0.1417764' y='52.2040836' w=640 h=360 data='!3m1!4b1!4m5!3m4!1s0x47d870883a88e88b:0x944f25e7d0cb266c!8m2!3d52.203705!4d0.143574' %}
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>
</section>
