---
layout: base
---

<section>
	<div class="container">

		<div class="row">
			<div class="col-xs-12 gallery">
				<div class="card">
					{% for image in page.gallery %}
						<div class="gallery-item-full">
							{% include helpers/img.html image=image format=site.data.images.gallery %}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3 col-md-push-9">
				<div class="logo logo-small">
					{% capture logo %}{% include helpers/img.html image=page.client.logo format=site.data.images.logo %}{% endcapture %}
					{% include helpers/link.html href=page.client.link text=logo %}
				</div>
			</div>
			<div class="col-md-8 col-md-pull-3">
				<h1 class="h2">
					{{ page.title }}
				</h1>
				{{ content | markdownify }}
			</div>
		</div>

	</div>
</section>

<section>
	<h2 class="hide">Key Services</h2>
	<div class="container">
		{% include blocks/block_card.html blocks=page.of %}
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
				<p><a href="/showcase.html" class="button">View Showcase</a></p>
			</div>
		</div>
	</div>
</section>
