---
layout: base
---
{% include hero.html
	type='home'
	heading=page.tagline
	image=page.hero_image_src
	action_url='contact'
	action_text='Contact Us'
%}

<section>
	<div class="container">
	<h2 class="hide">Services</h2>
		<div class="row hidden-xs">
			<div class="col-sm-4">
				<h3 class="subtitle">Marketing</h3>
			</div>
			<div class="col-sm-4">
				<h3 class="subtitle">Clarifying</h3>
			</div>
			<div class="col-sm-4">
				<h3 class="subtitle">Creating</h3>
			</div>
		</div>
		
		{% for item in page.services %}
			{% assign mod = forloop.index0 | modulo: 3 %}
			{% if mod == 0 or forloop.first %}
				<div class="row">
			{% endif %}
			<div class="col-sm-4">
				<div class="card link tilt {% if forloop.index <= 3 %}feature{% endif %}">
					<h3><a href="/services/{{ item.link }}.html">{{ item.name }}</a></h3>
					<p>{{ item.description.description }}</p>
				</div>
			</div>
			{% if mod == 2 or forloop.last %}
				</div>
			{% endif %}
		{% endfor %}
	</div>
</section>

<section>
	<div class="container">
		<blockquote class="feature quote">
			<p>Convincible go out of their way to understand and deliver what you need. Thank you.</p>
			<cite>Virgil</cite>
		</blockquote>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<p><a href="/contact.html" class="button">Why Choose Us</a></p>
			</div>
		</div>	
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h2 class="subtitle">Showcase</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="card link">
					<div class="card-image"><img src="/assets/images/home-hero.jpg" /></div>
					<h3><a href="/">Changing minds at a time of change</a></h3>
					<p>Some text uh isiof iseifseiofj sef jseijfs o ij ije ijoseif jsifioe .</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="card link">
					<div class="card-image"><img src="/assets/images/home-hero.jpg" /></div>
					<h3><a href="/">Changing minds at a time of change</a></h3>
					<p>Some text.</p>
				</div>
			</div>
			<div class="clearfix visible-sm-block"></div>
			<div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0">
				<div class="card link">
					<div class="card-image"><img src="/assets/images/home-hero.jpg" /></div>
					<h3><a href="/">Changing minds at a time of change</a></h3>
					<p>Some textsefo isoef oise fios fois eifoseoif isfoiss iejisejfjisios iose iosj iosj sjfsefj sojfoisjsieoj soief jios oiijse joise oisf .</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<p><a href="/showcase.html" class="button">All Case Studies</a></p>
			</div>
		</div>	
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h2 class="subtitle">Approach</h2>
			</div>
		</div>
	</div>
	<div class="container">
		<blockquote id="home-approach" class="feature">
			<p>In today’s noisy and busy world, <strong>we get your message through</strong>, by making it –</p>
			<div class="row">
				<div class="col-sm-4"><div class="card">Clear</div></div>
				<div class="col-sm-4"><div class="card">Creative</div></div>
				<div class="col-sm-4"><div class="card">Compelling</div></div>
			</div>
		</blockquote>
	</div>
	<div class="wowlight">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<p><strong>Projects with us cost between &pound;500&ndash;&pound;5,000</strong> &mdash;<br />and pay you back happily ever after.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<p><a href="/approach.html" class="button">About Our Approach</a></p>
			</div>
		</div>	
	</div>
</section>

<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h2 class="subtitle">Contact</h2>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				<div class="card link tilt">
					<p>Let's discuss a <strong>New Project</strong></p>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
							<p><a href="/approach.html" class="button tilt-z">Contact Us</a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="card link tilt">
					<p>We're already working on a <strong>Current Project</strong></p>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
							<p><a href="/approach.html" class="button tilt-z">Get In Touch</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
					