---
layout: base
---
<header>
	<div class="container">
		<h1>Website Under Construction</h1>
	</div>
</header>

<div id="body">

	<div class="section">
		<div class="container">
		<h2>Services.</h2>
			<div class="row justify-content-xs-center">
			{% for item in page.services limit:3 %}
				<div class="col-sm-4">
				<h3>{{ item.name }}</h3>
				{{ item.description.description }}
				<p><a href="/services/{{ item.link }}.html">Get Started</a></p>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>

	<div class="section">
		<div class="container">
			<h2>Showcase.</h2>
			<div class="row justify-content-xs-center">
			{% for item in page.showcase limit:3 %}
				<div class="col-sm-4">
				<h3>{{ item.name }}</h3>
				{{ item.description.description }}
				<p><a href="/showcase/{{ item.link }}.html">Read More</a></p>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>

	<div class="section">
		<div class="container">
			<h2>Approach.</h2>
			{% for point in page.approach %}
				<h3>{{ point.name }}</h3>
				{{ point.description }}
			{% endfor %}
		</div>
	</div>

</div>