---
layout: base
---
{% include hero.html
	type='inside'
	image=page.image
	breadcrumb=2
	heading=page.heading
%}

<section>
	<div class="container">
		{% include blocks/block_body.html blocks=page.intro %}
	</div>
</section>

<section id="elements">
	<div class="wowlight">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<h2 class="subtitle pointdown">{{ page.elements_heading }}</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="container grid-cards">
		{% include blocks/block_card.html blocks=page.elements %}
		{% if page.elements_note %}
			<div class="row center small highlight">
				<div class="col-md-8 col-md-offset-2">
					{{ page.elements_note | markdownify }}
				</div>
			</div>
		{% endif %}
	</div>
</section>

<section id="subservices">
	<div class="wowlight">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<h2 class="subtitle pointdown">{{ page.subservices_heading }}</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="container grid-cards">
		{% include blocks/block_card.html blocks=page.subservices %}
	</div>
</section>

<section id="contact" class="spaced">
	<div class="container">
		{% include contact.html blocks=site.data.contact.pages.services %}
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<p><a href="/services.html" class="button">All Services</a></p>
			</div>
		</div>
	</div>
</section>
