---
layout: base
---
{% include hero.html
	type='inside'
	image=page.image
	breadcrumb=1
	heading=page.heading
%}

<section id="titles">
	<div class="container">
		<div class="row">
			<div class="col-sm-7 col-lg-5">
				<h2 id="project-title" class="hgroup">
					<span class="subtitle">Project<span class="hide">:</span></span>
					<span class="h2">{{ page.name }}</span>
				</h2>
			</div>
			<div class="col-sm-5 col-lg-offset-2 col-xs-6">
				<div id="client" class="logo logo-medium block-link">
					{% capture logo %}{% include helpers/img.html image=page.client.logo format=site.data.images.logo %}{% endcapture %}
					{% include helpers/link.html href=page.client.link text=logo %}
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		{% include blocks/block_body.html blocks=page.intro %}
	</div>
</section>

<section id="facets">
	<div class="container">
		{% include blocks/block_card.html blocks=page.facets %}
	</div>
</section>

{% if page.quote %}
<section id="facets">
	<div class="container">
		{% include blocks/body/block_body_pullquote.html paragraphs=page.quote.paragraphs cite=page.quote.cite class='feature' %}
	</div>
</section>
{% endif %}

<section id="contact" class="spaced">
	<div class="container">
		{% include contact.html blocks=site.data.contact.pages.showcase %}
	</div>
</section>

<section id="services">
	<h2 class="hide">Key Services</h2>
	<div class="container">
		{% include blocks/block_card.html blocks=page.services %}
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<p><a href="/services.html" class="button">All Services</a></p>
			</div>
		</div>
	</div>
</section>
