---
layout: base
---
{% include hero.html
	type='inside'
	image=page.image
	breadcrumb=1
	heading=page.heading
%}

<section id="titles">
	<div class="container">
		<div class="row">
			<div class="col-sm-7 col-lg-5">
				<h2 id="project-title" class="hgroup">
					<span class="subtitle">Project<span class="hide">:</span></span>
					<span class="h2">{{ page.name }}</span>
				</h2>
			</div>
			<div class="col-sm-4 col-sm-offset-1 col-lg-offset-3">
				<div class="client-logo">{% include helpers/img.html src=page.logo_image_src format=site.data.images.small %}</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		{% include blocks/block_body.html blocks=page.intro %}
	</div>
</section>

<section id="facets">
	<div class="container">
		{% include blocks/block_card.html blocks=page.facets %}
	</div>
</section>

<section id="contact" class="spaced">
	<div class="container">
		{% include contact.html blocks=site.data.contact.pages.showcase %}
	</div>
</section>

<section id="services">
	<div class="container">
		{% include blocks/block_card.html blocks=page.services %}
	</div>
</section>
