{%- capture w -%}
	{%- if include.w != nil -%}
		{{ include.w }}
	{%- elsif include.format.w != nil -%}
		{{ include.format.w }}
	{%- else -%}
		auto
	{%- endif -%}
{%- endcapture -%}
{%- capture h -%}
	{%- if include.h != nil -%}
		{{ include.h }}
	{%- elsif include.format.h != nil -%}
		{{ include.format.h }}
	{%- else -%}
		auto
	{%- endif -%}
{%- endcapture -%}
{%- capture src -%}
	{{ include.src }}
	{%- if include.format != nil -%}
		?
		{%- for param in include.format -%}
			{%- assign param-name = param | first -%}
			{%- assign param-value = param | last -%}
			{%- if param-name == 'w' and w != 'auto' -%}{%- assign param-value = w -%}{%- endif -%}
			{%- if param-name == 'h' and h != 'auto' -%}{%- assign param-value = h -%}{%- endif -%}
			{{ param-name }}={{ paraam-value }}
			{%- if forloop.last == false -%}&{%- endif -%}
		{%- endfor -%}
	{%- endif -%}
{%- endcapture -%}
{%- if include.src_only -%}
	{{ src }}
{%- else -%}
	<img src="{{ src }}" alt="{{ include.alt | xml_escape }}" {% if include.title != nil %}title="{{ include.title | xml_escape }}"{% endif %} width="{{ w }}" height="{{ h }}" border="0" vspace="0" hspace="0" />
{%- endif -%}