{%- capture w -%}
	{%- if include.w != nil -%}
		{{ include.w }}
	{%- elsif include.format.w != nil -%}
		{{ include.format.w }}
	{%- else -%}
		auto
	{%- endif -%}
{%- endcapture -%}
{%- capture h -%}
	{%- if include.h != nil -%}
		{{ include.h }}
	{%- elsif include.format.h != nil -%}
		{{ include.format.h }}
	{%- else -%}
		auto
	{%- endif -%}
{%- endcapture -%}
{%- capture src -%}
	{{ include.src }}
	{%- if include.format != nil -%}
		?
		{%- for param in include.format -%}
			{{ param | join: '=' }}
			{%- if forloop.last == false -%}&{%- endif -%}
		{%- endfor -%}
	{%- endif -%}
{%- endcapture -%}
<img src="{{ src }}" alt="{{ include.alt | xml_escape }}" {% if include.title != nil %}title="{{ include.title | xml_escape }}"{% endif %} width="{{ w }}" height="{{ h }}" border="0" vspace="0" hspace="0" />