$font-body: 'Source Sans Pro', 'Segoe UI', 'Arial', 'Tahoma', Sans-Serif;
$font-heading: 'Montserrat', 'Arial Black', 'Tahoma', Sans-Serif;

$color-1: #f63;
$color-2: #ff9c26;
$color-3: #ee314a;
$color-4: #e83723;
$color-5: #e87123;

$color-canvas: #666;
$color-body: #efefef;
$color-text: #000;

$heading-border: 0.1em solid $color-1;
