<section class="spaced invert">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h2 class="subtitle">
					{% if page.title == 'Free Thinking' %}
						Subscribe
					{% else %}
						<a href="/articles.html">Free Thinking</a>
					{% endif %}
				</h2>
			</div>
		</div>
		{% unless page.collection == 'articles' %}
			{% assign articles = site.articles | sort: 'date' | reverse %}
			<div class="row">
				{% assign img_format = site.data.images.thumb %}
				{% for item in articles limit:3 %}
					{% assign mod2 = forloop.index | modulo: 2 %}
					{% assign mod3 = forloop.index | modulo: 3 %}
					<div class="col-md-4 col-sm-6">
						<div class="card link tilt grid ">
							<div class="card-image">{% include helpers/img.html image=item.image format=img_format %}</div>
							<h3>
								{% include helpers/link.html href=item.link text=item.title %}
							</h3>
							<p>{{ item.excerpt }}</p>
						</div>
					</div>
					{% if mod3 == 0 and include.large != 'true' %}
						<div class="clearfix visible-md-block visible-lg-block"></div>
					{% endif %}
					{% if mod2 == 0 %}
						<div class="clearfix visible-sm-block{% if include.large %} visible-md-block visible-lg-block{% endif %}"></div>
					{% endif %}
				{% endfor %}
			</div>
		{% endunless %}
		<div class="row" id="subscribe">
			<h3 class="hide">Subscribe</h3>
			<div class="col-lg-4">
				<div class="row">
					<div class="col-xs-12">
						<label for="mce-EMAIL" class="subtitle">Marketing knowhow delivered to your inbox</label>
					</div>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="row">
					<div class="col-md-6">
						<form action="https://media.us16.list-manage.com/subscribe/post?u=e178fcfb5ce7340d6f76a7d9c&amp;id=3be02ffe91" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
							<div id="mc_embed_signup_scroll">
								<div class="mc-field-group">
									<div id="signup">
										<div id="signup-email">
											<input type="email" value="" placeholder="Email" required="required" name="EMAIL" id="mce-EMAIL" />
										</div>
										<div id="signup-button">
											<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" />
										</div>
									</div>
								</div>
								<div id="mce-responses">
									<div class="response" id="mce-error-response" style="display:none"></div>
									<div class="response" id="mce-success-response" style="display:none"></div>
								</div>
								<div class="hide" aria-hidden="true">
									<input type="text" name="b_e178fcfb5ce7340d6f76a7d9c_3be02ffe91" tabindex="-1" value="" aria-hidden="true" />
									<input type="hidden" value="1" checked="checked" name="group[5755][1]" id="mce-group[5755]-5755-0" aria-hidden="true" />
								</div>
							</div>
						</form>
					</div>
					<div class="col-md-6">
						<div id="subscribe-info">
							<ul>
								<li>Very Occasional</li>
								<li>Quality Content</li>
								<li>Never Spam (<a target="_blank" href="https://us16.campaign-archive.com/home/?u=e178fcfb5ce7340d6f76a7d9c&id=3be02ffe91">See Past Emails</a>)</li>
								<li>1-Click Unsubscribe</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="bottom" class="spaced invert">
	<div class="container">
		<div class="row">
			<div class="col-md-6">

				<div class="sitelogo">
					<span><a href="/">{% include helpers/img.html src='/assets/images/logo-white.png' alt='Convincible.' title='Home' w='100%' %}</a></span>
				</div>
				<div class="clearfix"></div>

				<div class="social">
					<p>We're a creative agency based in Cambridge, UK. We concoct words and images that communicate and compel.</p>
					<ul class="nav">
						{% for p in site.data['settings']['social_profiles'] %}
							{% assign profile = p[1] %}
							<li class="subpage">
								<a href="{{ profile.link }}" target="_blank" class="menu">
									{% include helpers/img.html src=profile.icon.url format=site.data.images.icon alt=profile.name title=profile.cta %}
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>

			</div>

			<div class="col-md-6">
				<ul class="nav">
					<li>
						{% include helpers/link.html href='@services' text='Services' class='menu' %}
						<ul>
							{% assign nav_services = site['services'] | sort: 'order' %}
							{% for item in nav_services %}
								{% if item.live %}
									<li class="subpage">{% include helpers/link.html href=item.link text=item.name class='menu' %}</li>
								{% endif %}
							{% endfor %}
						</ul>
					</li>
					<li>
						<ul>
							<li>
								{% include helpers/link.html href='@showcase' text='Showcase' class='menu' %}
							</li>
							<li>
								{% include helpers/link.html href='@articles' text='Free Thinking' class='menu' %}
							</li>
							<li>
								{% include helpers/link.html href='@contact' text='Contact' class='menu' %}
							</li>
						</ul>
					</li>
				</ul>


				<div id="legal" class="small">
					{{ site.data.settings.footer | markdownify }}
					<p>
						<address>
							<strong>Convincible</strong> Media, 68 Sleaford Street, Cambridge, CB1 2PU, United Kingdom
						</address>
					</p>
					<p>This site uses cookies to analyse traffic anonymously. By using the site you consent to the use of these cookies.</p>
				</div>

			</div>

		</div>
	</div>
</section>
