{% unless page.collection == 'articles' %}
<section class="spaced invert">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h2 class="subtitle"><a href="/articles.html">Free Thinking</a></h2>
			</div>
		</div>
		{% assign articles = site.articles | sort: 'date' | reverse | slice: 0, 2%}
		<div class="row">
			{% assign img_format = site.data.images.thumb %}
			{% for item in articles %}
				{% assign mod2 = forloop.index | modulo: 2 %}
				{% assign mod3 = forloop.index | modulo: 3 %}
				<div class="col-md-4 col-sm-6">
					<div class="card link tilt grid ">
						<div class="card-image">{% include helpers/img.html image=item.image format=img_format %}</div>
						<h3>
							{% include helpers/link.html href=item.link text=item.title %}
						</h3>
						<p>{{ item.excerpt }}</p>
					</div>
				</div>
				{% if mod3 == 0 and include.large != 'true' %}
					<div class="clearfix visible-md-block visible-lg-block"></div>
				{% endif %}
				{% if mod2 == 0 %}
					<div class="clearfix visible-sm-block{% if include.large %} visible-md-block visible-lg-block{% endif %}"></div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</section>
{% endunless %}

<section id="bottom" class="spaced invert">
	<div class="container">
		<div class="row">
			<div class="col-md-6">

				<div class="sitelogo">
					<span><a href="/">{% include helpers/img.html src='/assets/images/logo-white.png' alt='Convincible.' title='Home' w='100%' %}</a></span>
				</div>
				<div class="clearfix"></div>

				<div class="social">
					<p>We're a creative agency based in Cambridge, UK. We concoct words and images that communicate and compel.</p>
					<ul class="nav">
						{% for p in site.data['settings']['social_profiles'] %}
							{% assign profile = p[1] %}
							<li class="subpage">
								<a href="{{ profile.link }}" target="_blank" class="menu">
									{% include helpers/img.html src=profile.icon.url format=site.data.images.icon alt=profile.name title=profile.cta %}
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>

			</div>

			<div class="col-md-6">
				<ul class="nav">
					<li>
						{% include helpers/link.html href='@services' text='Services' class='menu' %}
						<ul>
							{% assign nav_services = site['services'] | sort: 'order' %}
							{% for item in nav_services %}
								{% if item.live %}
									<li class="subpage">{% include helpers/link.html href=item.link text=item.name class='menu' %}</li>
								{% endif %}
							{% endfor %}
						</ul>
					</li>
					<li>
						<ul>
							<li>
								{% include helpers/link.html href='@showcase' text='Showcase' class='menu' %}
							</li>
							<li>
								{% include helpers/link.html href='@articles' text='Free Thinking' class='menu' %}
							</li>
							<li>
								{% include helpers/link.html href='@contact' text='Contact' class='menu' %}
							</li>
						</ul>
					</li>
				</ul>


				<div id="legal" class="small">
					{{ site.data.settings.footer | markdownify }}
					<p>
						<address>
							<strong>Convincible</strong> Media, 68 Sleaford Street, Cambridge, CB1 2PU, United Kingdom
						</address>
					</p>
					<p>This site uses cookies to analyse traffic anonymously. By using the site you consent to the use of these cookies.</p>
				</div>

			</div>

		</div>
	</div>
</section>
