<section class="header-{{ include.type }}">
	<div class="container">
		<div id="logo">
			<span><a href="/">{% include helpers/img.html src='/assets/images/logo-black.png' alt='Convincible.' title='Home' w='100%' %}</a></span>
		</div>

		<nav>
			<ul>
				<li><a href="/services.html">Services</a></li>
				<li><a href="/showcase.html">Showcase</a></li>
				{% if include.type == 'inside' and page.collection != 'contact' %}
					<li class="button"><a href="/contact.html" class="button">Contact</a></li>
				{% endif %}
			</ul>
		</nav>

	</div>
</section>
