{%- capture src -%}
	{%- if include.type == 'full' -%}
		{%- include helpers/img.html
			image=include.image
			format=site.data.images.hero-full
			src_only=true
		-%}
	{%- else -%}
		{%- include helpers/img.html
			image=include.image
			format=site.data.images.hero
			src_only=true
		-%}
	{%- endif -%}
{%- endcapture -%}
<header id="hero" class="header-{{ include.type }} hero-image-bg-muted" style="background-image: url('{{ src }}')">
	<section>
		{% if include.type == 'home' %}<div id="particles-js"></div>{% endif %}
		<div id="hero-box">
			<div class="container">
				<div id="hero-text">
					{% assign section = site.collections | where:'label',page.collection | first %}
					{% if include.breadcrumb > 0 %}
						<div class="row">
							<div class="col-sm-6 col-md-4">
								{% capture breadcrumb-inner %}
									<ul>
										<li>
											<span class="h2 subtitle">
												{% if include.breadcrumb >= 2 %}
													{{ page.name }}
												{% else %}
													{{ include.section | default: section.title }}
												{% endif %}
											</span>
										</li>
									</ul>
								{% endcapture %}
								<ul>
									{% if include.breadcrumb >= 2 %}
										<li>
											<a href="/{{ section.label }}.html">{{ include.section | default: section.title }}</a>
											{{ breadcrumb-inner }}
										</li>
									{% else %}
										<li>
											<a href="/" class="hide">Home</a>
											{{ breadcrumb-inner }}
										</li>
									{% endif %}
								</ul>
							</div>
						</div>
					{% endif %}
					<h1>{% include blocks/block_heading.html blocks=include.heading %}</h1>
				</div>
				{% if include.blurb or include.buttons or include.text %}
					<div id="hero-action">
						<div class="row">
							<div class="col-md-4 col-md-push-8 col-sm-6 col-sm-push-6">
								{% if include.blurb %}
									<div id="blurb">
										<div class="card">
											<p>{{ include.blurb }}</p>
										</div>
									</div>
								{% endif %}
							</div>
							{% if include.text %}
								<div class="col-lg-4 col-lg-pull-4 col-md-pull-4 col-sm-6 col-sm-pull-6">
									<div class="negative">
										{{ include.text | markdownify }}
									</div>
								</div>
							{% endif %}
							{% if include.buttons and include.buttons.size > 0 %}
								<div class="col-lg-4 col-lg-pull-4 col-md-pull-4 col-sm-6 col-sm-pull-6">
									<h2 class="hide">Latest</h2>
									<div id="latest" class="tilt">
										<div class="carousel">
											{% for button in include.buttons %}
												<div class="carousel-item{% unless forloop.first %} js-show{% endunless %}">
													{% if button.image %}
														<div class="card card-button link" style="background: #fff url('{% include helpers/img.html image=button.image format=site.data.images.thumb-tiny src_only=true %}') left/auto 100% no-repeat">
															<div class="card-content">
																<h3 class="hgroup">
																	{% if button.subtitle %}
																		<span class="h4 subtitle">{{button.subtitle}}<span class="hide">: </span></span>
																	{% endif %}
																	<span class="h3"><a href="{% include helpers/link.html href=button.link href_only=true %}">{{ button.text }}</a></span>
																</h3>
															</div>
														</div>
													{% elsif button.link %}
														<div class="tilt">
															<a href="{% include helpers/link.html href=button.link href_only=true %}" class="button tilt-z">{{ button.text }}</a>
														</div>
													{% endif %}
												</div>
											{% endfor %}
										</div>
									</div>
								</div>
							{% endif %}
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</section>
</header>
