<header id="hero" style="background: #ff6633">
	<section class="header-home">
		<div id="particles-js"></div>
		<div id="hero-box">
			<div class="container">
				<div id="hero-text">
					<div class="row">
						<div class="col-xs-12">
							<h1>We cut through the noise.<!--{% include blocks/block_heading.html blocks=include.heading %}--></h1>
						</div>
					</div>
				</div>
				<div id="hero-action">
					<div class="row">
						<div class="col-md-4 col-sm-6 tilt">
							<a href="{% include helpers/link.html href=include.action_link href_only=true %}" class="button tilt-z">{{ include.action_text }}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</header>
