<h2 class="hide">Service Areas</h2>
<div id="service-areas" class="row hidden-xs">
	<div class="col-sm-4">
		<h3 class="subtitle">Marketing</h3>
	</div>
	<div class="col-sm-4">
		<h3 class="subtitle">Clarifying</h3>
	</div>
	<div class="col-sm-4">
		<h3 class="subtitle">Creating</h3>
	</div>
</div>

{% for item in include.services %}
	{% assign mod = forloop.index0 | modulo: 3 %}
	{% if mod == 0 or forloop.first %}
		<div class="row">
	{% endif %}
	<div class="col-sm-4">
		<div class="card link tilt {% if forloop.index <= 3 %}feature{% endif %}">
			<h3>
				<a href="/services/{{ item.slug }}.html">{{ item.name }}</a>
			</h3>
			<p>{{ item.description }}</p>
		</div>
	</div>
	{% if mod == 2 or forloop.last %}
		</div>
	{% endif %}
{% endfor %}
