<div class="row">
	{% for item in include.showcase %}
		{% assign mod = forloop.index0 | modulo: 3 %}
		<div class="col-md-4 col-sm-6">
			<div class="card link">
				<div class="card-image">{% include helpers/img.html src=item.image format=site.data.images.thumb h=200 %}</div>
				<h3><a href="/showcase/{{ item.slug }}.html">{{ item.title }}</a></h3>
				{{ item.description | markdownify }}
			</div>
		</div>
		{% if mod == 2 %}
			<div class="clearfix visible-sm-block"></div>
		{% endif %}
	{% endfor %}
</div>
