---
layout: default
---
<div id="header">
	<div class="section">
		<div id="home-hero" class="hero">
			<div id="top">
				<div class="container">
					<img src="/images/logo.png" id="logo" width="20%" alt="Convincible." border="0" hspace="0" vspace="0" />
				</div>
			</div>
			<div class="container">
				<h1>{{ page.tagline }}</h1>
			</div>
		</div>
	</div>
</div>

<div id="body">

	<div class="section">
		<div class="container">
		<h2>Services.</h2>
			<div class="row justify-content-xs-center">
			{% assign services = site.services | sort: 'order' %}
			{% for service in services limit:3 %}
				<div class="col-sm-4">
				<h3>{{ service.title }}</h3>
				{{ service.description | markdownify }}
				<p><a href="{{ service.url }}">Get Started</a></p>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>

	<div class="section">
		<div class="container">
			<h2>Showcase.</h2>
			<div class="row justify-content-xs-center">
			{% assign showcase = site.showcase | sort: 'date' | where: 'featured','true' %}
			{% for case in showcase limit:3 %}
				<div class="col-sm-4">
					<h3>{{ case.title }}</h3>
					{{ case.description | markdownify }}
					<p><a href="{{ case.url }}">Read the Story</a></p>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>

	<div class="section">
		<div class="container">
			<h2>Approach.</h2>
			<blockquote>{{ page.approach.quote | markdownify }}</blockquote>
			{% for point in page.approach.keypoints %}
				<h3>{{ point.title }}</h3>
				{{ point.description | markdownify }}
			{% endfor %}
		</div>
	</div>
			
	<div class="section">
		<div class="container">
			<h2>Contact.</h2>
			<p><a href="{% link contact.md %}">Contact</a></p>
		</div>
	</div>

</div>